@charset "utf-8";

/* =======================================

	CommonElements

======================================= */

/* #loadarea
--------------------------- */
#loadarea {
	margin: 0 auto;
	width: 500px;
	text-align: left;
}

#loadarea span {
	width: 100px;
	text-align: left;
}

#loadarea img {
	width: 100px;
	text-align: left;
}

#loadmore {
	margin-top: 20px;
	width: 494px;
	height: 29px;
	line-height: 29px;
	display: block;
	background: #fff;
}